@media (max-width: 600px) {

    /* header */
    header {
        width: 100%;
        padding: 34px 8px;

    }

    .search_bar {
        display: none;
    }

    .login_buy {

        width: 72px;
        height: 32px;


    }

    .login {
        display: none;

    }

    .vector_svg {
        display: flex;
    }

    .shop {
        width: 32px;
        height: 32px;
        padding: 8px;
    }

    /* navigaiton */

    .mobile_style {
        background: #01ACA9;
        display: flex;
        height: 64px;
        padding: 16px 64px;
        justify-content: center;
        align-items: flex-start;
        gap: 168px;
        flex-shrink: 0;
    }

    ul {
        display: none;
    }

    /* section */

    .form2 {
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;


    }

    .contact_us {
        display: flex;
        width: 332px;

        padding: 48px 6px;
        gap: 80px;

    }

    .section_head {

        margin-bottom: 0;

    }

    .Fills {
        width: 320px;
        gap: 8px;

    }

    .contact_us_fills {
        width: 156px;
        padding: 11px 85px 11px 22px;

        align-items: center;

    }

    textarea {

        width: 320px;
        height: 104px;

    }

    .submit_button {
        width: 320px;
        padding: 19px 0px;
        justify-content: center;
        align-items: center;
    }
}